#imagem{
    align-items: center;
    width: 80px;
    height: auto;
}

#nave{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: red;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
body{
    margin: 0px;
    padding: 0px;
    background-image: url("Escudo/imagem/Fundo.avif");
     background-repeat: no-repeat;
    background-size: cover;
}
#nave h2{
    font-size: 40px;
}
 #nave li{
    font-size: 15px;
 }
#menu{
    padding-right: 10px;
}
#noticias{
    text-align: center;
    justify-content: space-around;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}


.noticia{
    text-align: center;
    border-radius: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 4px solid black;
    max-width: 600px;
    margin: 20px auto;
}
.img_noticia{
    width: 300PX;
    height: 200PX;
}

.escalacao{
     background-color: green; 
    width: 90%;
    height: 100vh;
    padding: 30px;
    border-radius: 30px;
    margin: 40px auto;
}

.escalacoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
     gap: 40px;
}
.Titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.Titulo h2{
    font-size: 40px;
}